# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.NetworkGame.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Git\Maze2\Source\NetworkGame\.idea\.idea.NetworkGame.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
